// Colors
$additional: #1B95E0;
$background: #FFFFFF;
$main: #073288;
$secondary: #F6A906;
$success: #2ECC71;
$warning: #F05758;
$white: white;
// Color enhancement rate
$enhanceValue: 20%;
// Animation timings
$fast: 0.5s;
$leisurely: 1s;
$slow: 2s;
// Border width
$thin: 1px;
// Breaking points
$desktop-md: 1280px;
$mobile-max: 768px;
$mobile-xs: 360px;
