.buttons-menu {
    display: flex;
    justify-content: space-evenly;
    >a,
    >button {
        @include button;
        box-sizing: border-box;
        flex: 0 0 auto;
        height: 100%;
        transition: all $fast;
        width: 120px;
        &:hover {
            color: saturate($additional, $enhanceValue);

        }
    }
    .active {
        background-color: $secondary;
        border: $thin solid $secondary;
        color: $additional;
    }
}
