#app {
    display: flex;
    flex: 1 1 auto;
    font-family: 'Jura', sans-serif;
    padding: 0 15px;
    > div {
        width: 100%;
        height: 100%;
    }
}
svg {
    display: block;
}
h1 {
    font-size: 32px;
    text-align: center;
}
h3 {
    border-bottom: $thin solid $main;
    color: $main;
}

input {
    border: $thin solid $secondary;
    box-sizing: border-box;
    color: $secondary;
    max-width: $mobile-xs;
    padding: 10px 10px;
    width: 100%;
}
button {
    background-color: $background;
}

@media screen and (min-width: $mobile-max) {
    #app {
        padding: 0 35px;
    }
}

@media screen and (min-width: $desktop-md) {
    body {
        display: flex;
        justify-content: center;
    }
    #app {
        max-width: $desktop-md;
    }
}
