.user-list {
    border-bottom: $thin solid $additional;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
    &-name{
        flex: 0 0 auto;
        margin-left: 10px;
    }
    &-avatar {
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        flex: 0 0 auto;
        height: 25px;
        width: 25px;
    }
    &-block {
        align-items: center;
        display: flex;
        flex: 0 0 auto;
        order: 3
    }
    &-main {
        width: 80%;
        order: 1;
    }
    &-star {
        width: 20%;
        order: 2;
        justify-content: flex-end;
        @include star;
    }
}
@media screen and (min-width: $mobile-max) {
    .user-list{
        &-block {
            width: 33%;
            order: 2;
        }
        &-main {
            order: 1;
        }
        &-star {
            width: 1%;
            order: 3;
        }

        // styles for animation
        transition: all $fast ease;
        opacity: 0;
        &:nth-child(odd) {
            transform: translateX(100%);
        }
        &:nth-child(even) {
            transform: translateX(-100%);
        }
        &.user-list_visible {
            transform: translateX(0);
            opacity: 1;
        }
    }
}
