.user-view {
    box-sizing: border-box;
    min-height: 200px;
    padding: 5px;
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    border-bottom: 1px solid $additional;
    &_full {
        min-height: 400px;
    }
    &-video,
    &-info {
        flex: 1 1 100%;
    }
    &-video {
        video {
            padding-top: 10px;
            max-width: $mobile-xs;
            width: 100%;
        }
    }
    &-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .info {
        &-user {
            flex: 1 1 auto;
            align-items: center;
            display: flex;
        }
        &-name {
            flex: 0 0 auto;
            margin-left: 10px;
        }
        &-avatar {
            flex: 0 0 auto;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
        }
        &-star {
            flex: 1 1 auto;
            display: flex;
            justify-content: flex-end;
            @include star;
        }
        &-block {
            align-items: center;
            display: flex;
            flex: 0 0 auto;
        }
    }
}
// styles for animation
.user-view {
    &-info{
        transition: opacity 0.5s linear;
        opacity: 0;
        $user-view-info-blocks: 5;
        @for $info-block from 0 to $user-view-info-blocks {
            div:nth-child(#{$info-block}) {
                transition: transform 1s cubic-bezier(.3,-1,.6,2);
                transform: translateY(-$info-block*20px);
            }
        }
    }
    .info {
        &-star {
            .icon-container{
                transition: transform 2s cubic-bezier(1,-0.5,0,3) 1s;
                transform: rotate(360deg);
            }
        }
    }
}
.user-view {
    &-info{
            opacity: 1;
        $user-view-info-blocks: 5;
        @for $info-block from 0 to $user-view-info-blocks {
            div:nth-child(#{$info-block}) {
                transform: translateY(0);
            }
        }
    }

    .info {
        &-star {
            .icon-container{
                transform: rotate(0);
            }
        }
    }
}

@media screen and (min-width: $mobile-max) {
    .user-view{
        border-right: 1px solid $additional;
        flex: 0 0 50%;
        &_full {
            flex-direction: row;
            flex: 0 0 100%;
            min-height: 200px;
        }
        &-video,
        &-info {
            display: flex;
            padding: 10px;
            flex: 1 1 50%;
            video {
                padding: 0;
                height: 100%;
                flex: 0 0 auto;
            }
        }
        &-video {
            justify-content: center;
        }
    }
}
